html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.box {
  width: 100%;
  height: 100%;
  background-color: #8c9696;
  perspective: 2000px;
}
.container {
  width: 200px;
  height: 200px;
  display: flex;
  position: absolute;
  left: 50%; 
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
  transform-style: preserve-3d;
  transform: scale(0.6) rotateX(-45deg) rotateY(45deg);
  transform-origin: 100px  100px -100px;
}

.side {
  width: 200px;
  height: 200px;
  box-shadow: 0 0 3px #c2c5c499 inset;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  position: absolute;
  background-color: #fff;
}

.side-1 {
  justify-content: center;
  align-items: center;
  transform: translateZ(-260px);
}

.side-2 {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  left:-260px;/*左*/
  transform: rotateY(-90deg);
  transform-origin: right;
}

.side-3 {
  flex-direction: column;
  justify-content: space-between;
  top:-260px;/*上*/
  transform: rotateX(90deg);
  transform-origin: bottom;
}

.side-3 .item:nth-child(2) {
  align-self: center;
}

.side-3 .item:nth-child(3) {
  align-self: flex-end;
}

.side-4 {
  flex-wrap: wrap;
  justify-content: space-between;
  top:260px;/*下*/
  transform: rotateX(-90deg);
  transform-origin: top;
}

.side-4 .column {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}

.side-4 .column:last-child {
  align-items: flex-end;
}

.side-5 {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 260px;/*右*/
  transform: rotateY(90deg);
  transform-origin: left;
}
.side-5 .row {
  display: flex;
  justify-content: space-between;
}

.side-5 .row:nth-child(2) {
  align-self: center;
}


.side-6 {
  order: -2;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.side-6 .column {
  display: flex;
  justify-content: space-between;
  transform: translateZ(0);
}

.item {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
}


